/* :root {
    --primary-color-dashboard: #DDDDDD;
    --secondary-color-dashboard: #ffd098;
    --third-color-dashboard: #868a73;
    --gradient-color: linear-gradient(270deg,#ffd098, #ffd098);
    /* --gradient-color: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */

    /* --sm: 14px; */
    /* --md: 16px; */
    /* --lg: 18px; */

    /* --primary-border-radius: 30px; */
    /* --secondary-border-radius: 15px; */

    /* --box-shadow: 0 2rem 3rem var(black); */
/* } */ 

/* body{
    height: 100%;
    width: 100%;
    /* background-color: #000000; */
/*    font-family: "Lato", sans-serif;
} */

/* .container{
    display: grid;
    grid-template-columns: 80% 20%;
} */

/* .dashboard-container{
    background-color: var(--primary-color-dashboard);
    border-top-left-radius: var(--primary-border-radius);
    border-bottom-left-radius: var(--primary-border-radius);
} */

/* .title-basic{
    display: flex;
    justify-content: center;
} */

/* .today-routine{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

.training-card{
    background-color: var(--third-color-dashboard);
    /* border: 10px; */
    /* border: 10px solid black; */
    margin: 10px;
    padding: 10px;
    border-radius: var(--primary-border-radius);
}

.today-routine-container, .weather-container{
    margin: 0 20px;
}

.training-card:hover{
    box-shadow: var(--box-shadow);
    background-color: #83c3ed;
}

.info-training-cards{
    display: grid;
    grid-template-columns: 35% 65%;
    text-align: left;
}

.info-training-cards *{
    margin: 0 5px 30px 0;
}

.grid-item{
    margin: 0;
}

.subtitle-routine{
    display: flex;
    margin: 17px 0 40px 0;
    width: 100%;
    justify-content: center;
}

.title-training-cards img{
    position: absolute;
    top: 158px;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.name-training-subtitle, .equipment-subtitle, .difficulty-subtitle, .instructions-subtitle{
    font-weight: bold;
    font-size: large;
}

/* .week-weather{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
} */

/* .weather-card{
    display: flex;
    background-color: var(--third-color-dashboard);
    margin: 10px;
    border-radius: var(--secondary-border-radius);
    flex-direction: column;
    align-items: center;
} */

.weather-card:hover{
    background-color: #83c3ed;
    box-shadow: var(--box-shadow);
}

.max-temp{
    font-size: 30px;
    font-weight: bold;
}

.min-temp{
    font-size: small;
}

/* .profil-container{
    /* background-color: var(--secondary-color-dashboard); */
    /* background-image: var(--gradient-color);
    border-top-right-radius: var(--primary-border-radius);
    border-bottom-right-radius: var(--primary-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  */

/* .image-profil{
    border: 4px solid white;
    margin: 15px 0;
    border-radius: 50%;
} */

.name-user, .title-age, .title-height, .title-weight, .title-gender, .title-bmi{
    font-weight: bold;
}

/* .name-user {
    display: flex;
    justify-content: center;
    font-size: 40px;
} */

.info-profil{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.info-profil div{
    display: flex;
    justify-content: space-between;
}

.info-profil div p{
    margin: 10px 0;
}

@media (max-width: 2200px) {
    .week-weather{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1500px) {
    .week-weather{
        grid-template-columns: repeat(2, 1fr);
    }

    .today-routine, .fitness{
        display: flex;
        flex-direction: column;
    }

}