:root {
    --primary-color-dashboard: #f2e8cf;
    --secondary-color-dashboard: #a7c957;
    --third-color-dashboard: #6a994e;
    --border-color: #386641;
    --gradient-color: linear-gradient(270deg,#cdd993, #cdd993);

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    
    --letter-color: rgba(black, 0.88);

    --primary-border-radius: 30px;
    --secondary-border-radius: 15px;

    --box-shadow: 0 2rem 3rem var(black);
}