:root {
    --primary-color-dashboard: #f2e8cf;
    --secondary-color-dashboard: #F7C45E;
    --third-color-dashboard: #F6AA14;
    --border-color: #6E4C09;
    --gradient-color: linear-gradient(270deg, #2E2411, #2E2411);

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    
    --letter-color: rgba(black, 0.88);

    --primary-border-radius: 30px;
    --secondary-border-radius: 15px;

    --box-shadow: 0 2rem 3rem black;
}