@use "_vars";

.dashboard-container{
    background-color: var(--primary-color-dashboard);
    border-top-left-radius: var(--primary-border-radius);
    border-bottom-left-radius: var(--primary-border-radius);
}

.title-basic{
    display: flex;
    justify-content: center;
}

.today-routine-container, .weather-container{
    margin: 0 20px;
}