@use "_vars";

.dashboard-container{
    background-color: var(--primary-color-dashboard);
    border-top-left-radius: var(--primary-border-radius);
    border-bottom-left-radius: var(--primary-border-radius);
}

.title-basic{
    display: flex;
    justify-content: center;
}

.training-card{
    background-color: var(--third-color-dashboard);
    /* border: 10px; */
    /* border: 10px solid black; */
    margin: 10px;
    padding: 10px;
    border-radius: var(--primary-border-radius);
}

.today-routine-container, .weather-container{
    margin: 0 20px;
}

.training-card:hover{
    box-shadow: var(--box-shadow);
    background-color: #83c3ed;
}

.info-training-cards{
    display: grid;
    grid-template-columns: 35% 65%;
    text-align: left;
}

.info-training-cards *{
    margin: 0 5px 30px 0;
}