.fitness{
    display: grid;
    grid-template-columns: 80% 20%;
}

@media (max-width: 2200px) {
    .week-weather{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1500px) {
    .dashboard-container{
        border-top-left-radius: var(--primary-border-radius);
        border-top-right-radius: var(--primary-border-radius);
        border-bottom-left-radius: 0%;
    }

    .profil-container{
        border-top-right-radius: 0%;
        border-bottom-right-radius: var(--primary-border-radius);
        border-bottom-left-radius: var(--primary-border-radius);
        margin: 0px;
    }

    .week-weather{
        grid-template-columns: repeat(2, 1fr);
    }

    .today-routine, .fitness{
        display: flex;
        flex-direction: column;
    }

    .today-routine{
        display: flex;
    }

    .title-training-cards img{
        position: unset;
    }

    .name-training-subtitle, .equipment-subtitle, .difficulty-subtitle, .instructions-subtitle{
        font-weight: bold;
        font-size: small;

    }
    
    .info-training-cards{
        font-size: small;
    }

}