@use "_vars";
@import url('https://fonts.googleapis.com/css?family=Orbitron');


body {
    color: --letter-color;
    height: 100%;
    width: 100%;
    font-family: orbitron, "Lato", sans-serif;
    background-color: white;
}