:root {
    --primary-color-dashboard: #DDDDDD;
    --secondary-color-dashboard: #ffd098;
    --third-color-dashboard: #868a73;
    --gradient-color: linear-gradient(270deg,#ffd098, #ffd098);
    /* --gradient-color: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    
    --letter-color: rgba(black, 0.88);

    --primary-border-radius: 30px;
    --secondary-border-radius: 15px;

    --box-shadow: 0 2rem 3rem var(black);
}

body {
    background-color: var(--secondary-color-dashboard);
    color: --letter-color;
    height: 100%;
    width: 100%;
    /* background-color: #000000; */
    font-family: "Lato", sans-serif;
}