@use "_vars";
@import url('https://fonts.googleapis.com/css?family=Orbitron');


.hours{
    width: 50%;
    background-color: white;
    border-radius: var(--secondary-border-radius);
    font-size: x-large;
    font-family:orbitron;
    margin: var(--sm);
}