@use "_vars";

.weather-card{
    display: flex;
    background-color: var(--secondary-color-dashboard);
    margin: 10px;
    border-radius: var(--secondary-border-radius);
    flex-direction: column;
    align-items: center;
}

.weather-card:hover{
    background-color: var(--third-color-dashboard);
    box-shadow: var(--box-shadow);
    border: 2px solid var(--border-color);
}

.max-temp{
    font-size: 30px;
    font-weight: bold;
}

.min-temp{
    font-size: small;
}